.popup_opened {
	visibility: visible;
	position: absolute;
	top: 0;
	right: -100%;
	transition: right 0.4s ease;
}

.container {
	width: 220px;
	height: 150px;
	background-color: var(--background-color);
	display: flex;
	justify-content: stretch;
	flex-direction: row;
	position: relative;
}

.animated {
	right: 0;
}

.text {
	font-family: 'PT-Sans-Narrow-Regular';
	color: var(--text-color);
	font-size: 20px;
	margin-right: 5px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 10px auto;
	max-height: 150px;
	overflow: scroll;
	min-width: 150px;
	&::-webkit-scrollbar{
		display: none;
	}
}

.list_item {
	display: flex;
	flex-direction: row;
}

.button {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0;
	cursor: pointer;
	width: 30px;
	height: 20px;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	background-image: url('../../assets/arrowhead-right-svgrepo-com.svg');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	scale: 1;
	transition: scale 0.3s ease;
	&:hover {
		scale: 1.2;
	}
}
